.button {
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	transition-duration: 200ms;
	padding: 0.5rem;
	font-size: 0.75rem;
	color: white;
}

.button:hover {
	transform: scale(1.05);
	transition-duration: 200ms;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
}
.button:active {
	transform: scale(0.9);
	box-shadow: none;
}
.button:focus-visible {
	outline: 3px solid rgb(0, 94, 255);
	outline-offset: 5px;
}

.whiteWrapper {
	background: white;
	color: black;
	border-radius: 500px;
}

.link {
	color: inherit;
}

@media (width <= 800px) {
	.button {
		padding: 0.5rem 1rem;
		font-size: 1rem;
	}
}