.menuWrapper {
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 2;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	height: 2rem;
}

.menuButton {
	display: flex;
	align-items: center;
	padding: 3px 0.5rem 3px 0.5rem;
	box-sizing: border-box;
	background: white;
	border-radius: 5000px;
	height: 1.4rem;
	gap: 0.5rem;
	cursor: pointer;
	margin-left: 10px;
	width: 4rem;
}

.open {
	height: 400px;
}