.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 2rem;
	border-radius: 2rem;
	cursor: pointer;
	transition-duration: 1000ms;
	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.container:hover {
	transform: scale(1.05);
}