.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 75vh;
	margin-bottom: 75vh;
}

.heroImg {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 5000px;
}

.introContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 2rem;
}

.projectsContainer {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.btnContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 10rem;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: scale(0.99);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

.fadeIn {
	opacity: 0;
	animation-name: transitionIn;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

.stagger1 {
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
}

.stagger2 {
	animation-delay: 4s;
	-webkit-animation-delay: 4s;
}

.scrollCTA {
	margin-top: 2rem;
}