.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 20rem;
	margin-bottom: 20rem;
}

.heroImg {
	width: 500px;
	height: 500px;
	object-fit: cover;
	border-radius: 5000px;
}

.introContainer {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.projectsContainer {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.btnContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 10rem;
}