.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
	width: 500px;
	--transform1: rotate(0deg) translateY(100px) translateX(-100px);
	--transform2: rotate(4deg) translateY(-200px) translateX(150px);
	--transform3: rotate(-8deg) translateY(-200px) translateX(-200px);
	--transformRest: rotate(-8deg) translateY(130px) translateX(160px) scale(0.3);
}

.img {
	width: 100%;
	max-height: 90vh;
	display: block;
	object-fit: cover;
	border-radius: 2rem;
	box-shadow: 0 0 40px rgba(0,0,0,0.25);
}

.imgContainer {
	position: absolute;
	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	transition-duration: 600ms;
	border-radius: 2rem;
	width: 400px;
}

.imgContainer * {
	transform: none !important;
}

/* INITAL ROTATION "STACK" */
.container .imgContainer:nth-child(n) {
	transform: rotate(8deg) scale(0.5);
	z-index: 0;
}
.container .imgContainer:nth-child(1) {
	transform: rotate(0deg);
	z-index: 3;
}

.container .imgContainer:nth-child(2) {
	transform: rotate(-8deg);
	z-index: 2;
}

.container .imgContainer:nth-child(3) {
	transform: rotate(0deg);
	z-index: 1;
}



/* WHEN STACK IS HOVERED */

.hovered .imgContainer:nth-child(n) {
	transform: var(--transformRest);
}
.hovered .imgContainer:nth-child(1) {
	transform: var(--transform1);
}

.hovered .imgContainer:nth-child(2) {
	transform: var(--transform2);
}

.hovered .imgContainer:nth-child(3) {
	transform: var(--transform3);
}


/* INDIVIDUAL IMG HOVERED */
.hovered .imgContainer:nth-child(n + 4):hover {
	transform: var(--transformRest) scale(1);
}
.hovered .imgContainer:nth-child(1):hover {
	transform: var(--transform1) scale(1.1) rotate(4deg);
}

.hovered .imgContainer:nth-child(2):hover {
	transform:  var(--transform2) scale(1.1) rotate(-4deg);
}

.hovered .imgContainer:nth-child(3):hover {
	transform:  var(--transform3) scale(1.1) rotate(8deg);
}


/* INDICATOR */
.indicator {
	position: absolute;
	height: 3rem;
	width: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 1rem;
	right: 1rem;
	transition-duration: 300ms;
	z-index: 10;
}

.indicator * {
	transform: none !important;
}

.hideIndicator {
	display: none;
}

.selected {
	position: absolute;
	width: 90vw;
	transform: none !important;
	z-index: 10 !important;
	box-shadow: 0 0 0 1000000px rgba(0,0,0,0.25);
}

.closeBtn {
	padding: 1rem;
	font-size: 1rem;
	box-shadow: 0 0 40px rgba(0,0,0,0.25);
}
.closeBtn:hover {
	box-shadow: 0 0 40px rgba(0,0,0,0.25);
	transform: scale(1.05) !important;
}

.controls {
	display: flex;
	gap: 1rem;
	padding: 1rem;
	border-radius: 500px;
	top: 1rem;
	right: 1rem;
	position: absolute;
	display: none;
}

.selected .controls, .selected .progress, .selected .caption  {
	display: flex;
}

.progress {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	padding: 0.8rem;
	display: none;
}

.caption {
	position: absolute;
	left: 1rem;
	bottom: 1rem;
	padding: 0.8rem;
	max-width: 80%;
	display: none;
}