.animatedBackground {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: -2;
	overflow: visible;
	filter: url(#goo) blur(6px);
	-webkit-filter: url(#goo) blur(6px);
	will-change: filter;
}

.circle {
	width: 50vw;
	height: 50vw;
	border-radius: 1000px;
	background: #FF00FF;
	position: absolute;
	transition-duration: 10s;
	overflow: hidden;
	mix-blend-mode: hard-light;
	will-change: transform;
}

.grain:before {
	content: "";
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.5' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
	background-repeat: repeat;
	background-size: 182px;
	opacity: 0.3;
	top: 0;
	left: 0;
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
}