html {
	font-size: 24px;
}

button {
	border: none;
	background: none;
}

body {
	margin: 0;
	width: 100vw;
	min-height: 100vh;
	background: #4D9BF9;
}

h1 {
	color: rgba(255,255,255, 0.9);
	font-size: 3rem;
	margin: 0;
	font-family: 'Space Grotesk';
}
h2 {
	color: white;
	font-size: 2rem;
	margin: 0;
	font-family: 'Space Grotesk';
}
p {
	font-family: 'Space Grotesk';
	color: rgba(255,255,255, 0.8);
	font-size: 1rem;
	margin: 0;
}
.accent {
	font-family: 'IBM Plex Mono';
	color: rgba(255,255,255, 0.8);
	font-weight: 700;
	font-size: 0.75rem;
}
.caption {
	font-family: 'Space Grotesk';
	color: rgba(255,255,255, 0.6);
	font-weight: 400;
	font-style: italic;
	font-size: 1rem;
	margin-left: 2rem;
}

a {
	font-family: 'Space Grotesk';
	color: rgba(255,255,255, 1);
	font-size: 0.6rem;
}

label {
	font-family: 'Space Grotesk';
	color: rgba(255,255,255, 1);
	font-size: 0.6rem;
}

.g-test {
	width: 10rem;
	height: 10rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-test {
	padding: 1rem;
}

@media (width <= 480px) {
	h1 {
		font-size: 2rem;
	}
	label {
		font-size: 1rem;
	}
	a {
		font-size: 1rem;
	}
	.caption {
		margin-left: 0;
	}
}