.sliderSelector {
	display: flex;
	align-items: center;
	padding: 3px 0.3rem 3px 0.3rem;
	box-sizing: border-box;
}

.sliderSelectorItem input[type=radio] {
	display: none;
}

.sliderSelectorItem {
	padding: 0 1rem;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border-radius: 100px;
}

.sliderSelectorItem label {
	display: block;
	padding: 0.5rem 0;
	color: #fff;
	text-align: center;
	transition : all .4s 0s ease;
	cursor: pointer;
	align-items: center;
	display: flex;
	gap: 0.2rem;
	flex-direction: row-reverse;
	border-radius: 200px;
}


.selectedItem {
	height: 1.4rem;
	position: absolute;
	z-index: -1;
	border-radius: 100px;
	background: rgba(0, 0, 0, 0.151);
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	transform: translateX(0px);
}

@media (width <= 480px) {
	.selectedItem {
		height: 2rem;
	}
}