.container {
	padding: 6rem 2rem 2rem 2rem;
	overflow-x: hidden;
}
.container img {
	border-radius: 2rem;
	margin: 1rem 0;
	width: 100%;
}

.container h2 {
	margin: 1rem 8rem 1rem 8rem;
}
.container p {
	margin: 0 8rem;
}

.navContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	margin: 1rem 0;
}

.backhome {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 2rem 0;
}

.resourceContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 1rem 8rem 1rem 8rem;
}

@media (width <= 1200px) {
	.container {
		padding: 0;
	}
	.container img {
		border-radius: 1rem;
	}
	
	.container h2 {
		margin: 1rem 0 1rem 0;
	}
	.container p {
		margin: 0;
	}

	.resourceContainer {
		margin: 1rem 0 1rem 0;
	}
	
	.navContainer {
		display: flex;
		gap: 1rem;
		align-items: center;
		margin: 1rem 0;
	}
	
	.backhome {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2rem;
	}
}